body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  background-color: #007bff;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 10px;
  top: 0px;
  height: 20px;
}

nav a{
  padding: 5px;
}

header a{
  color: #fff;
}

main {
  padding: 20px;
}

section h2 {
  margin: 10px 0;
}

li {
  display: inline-block;
  margin: 10px;
  color: #020202;
}

img {
  width: 150px;
  height: 150px;
}

.price {
  font-weight: bold;
}

footer {
  position: static;
  background-color: #f5f5f5;
  text-align: center;
  padding: 10px;
  bottom: 0px;
}

/* ------------------------The items in featured part------------------------- */

.items{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: space-around;
  padding: 5px;
  list-style: none;
}

.items a:visited{
  color: #020202;
}

a{
  text-decoration: none;
}

/* ------------------------Search Bar------------------------- */

.search{
  border: 0px;
  border-radius: 1.5px;
  color: #007bff;
  width: 33vw;
}

.search:focus{
  outline: none;
  border: 1px blue;
}