<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My E-commerce Store</title>
        <link rel="stylesheet" href="style.css" />
        <script src="https://kit.fontawesome.com/9eba308083.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <a href = "cat_customer.html"><i class="fa-solid fa-arrow-left"></i></a>
            <a href="#">My Store Logo</a>
            <a href="home_customer.html"><i class="fa-solid fa-home"></i> Home</a>
            <a href="#"><i class="fa-solid fa-user"></i></a>
        </header>

        <div class="categories">
            <img src="../../uploads/ILT0_JiKo-Apple Watch.jpg">
        </div>

        <footer>
            <p>&copy; 2023 My E-commerce Store</p>
        </footer>
    
        <script src="script.js"></script>
    </body>
</html>