<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My E-commerce Store</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script
      src="https://kit.fontawesome.com/9eba308083.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <a href="#">My Store Logo</a>
      <!-- <a href="home_customer.html"><i class="fa-solid fa-home"></i></a> -->
      <nav>
        <input class="search" type="text" placeholder="Search products..." />
        <a href="cat_customer">Categories</a>
        <!-- <a href="#">Contact Us</a> -->
      </nav>
      <a href="cart_customer.html"
        ><i class="fa-solid fa-cart-shopping"></i> Cart (0)</a
      >
      <a href="#"><i class="fa-solid fa-user"></i></a>
    </header>

    <main>
      <section>
        <h2>Featured Products</h2>
        <ul class="items">
          <li>
            <a href="#">
              <img
                src="../../uploads/7kxRlLem4W-Harry Potter_2.jpg"
                alt="Product 1"
              />
              <h3>Product 1 Name</h3>
              <span class="price">$29.99</span>
            </a>
            <button>Add to Cart</button>
          </li>
          <li>
            <a href="#">
              <img
                src="../../uploads/XtclD6Y0A-Harry Potter_1.jpg"
                alt="Product 1"
              />
              <h3>Product 1 Name</h3>
              <span class="price">$29.99</span>
            </a>
            <button>Add to Cart</button>
          </li>
          <li>
            <a href="#">
              <img
                src="../../uploads/ILT0_JiKo-Apple Watch.jpg"
                alt="Product 1"
              />
              <h3>Product 1 Name</h3>
              <span class="price">$29.99</span>
            </a>
            <button>Add to Cart</button>
          </li>
          <li>
            <a href="#">
              <img
                src="../../uploads/JDi7Ij2Jp3-Apple Watch Series 8.jpg"
                alt="Product 1"
              />
              <h3>Product 1 Name</h3>
              <span class="price">$29.99</span>
            </a>
            <button>Add to Cart</button>
          </li>
          <li>
            <a href="#">
              <img
                src="../../uploads/7kxRlLem4W-Harry Potter_2.jpg"
                alt="Product 1"
              />
              <h3>Product 1 Name</h3>
              <span class="price">$29.99</span>
            </a>
            <button>Add to Cart</button>
          </li>
          <li>
            <a href="#">
              <img
                src="../../uploads/XtclD6Y0A-Harry Potter_1.jpg"
                alt="Product 1"
              />
              <h3>Product 1 Name</h3>
              <span class="price">$29.99</span>
            </a>
            <button>Add to Cart</button>
          </li>
          <li>
            <a href="#">
              <img
                src="../../uploads/ILT0_JiKo-Apple Watch.jpg"
                alt="Product 1"
              />
              <h3>Product 1 Name</h3>
              <span class="price">$29.99</span>
            </a>
            <button>Add to Cart</button>
          </li>
          <li>
            <a href="#">
              <img
                src="../../uploads/JDi7Ij2Jp3-Apple Watch Series 8.jpg"
                alt="Product 1"
              />
              <h3>Product 1 Name</h3>
              <span class="price">$29.99</span>
            </a>
            <button>Add to Cart</button>
          </li>
        </ul>
      </section>
    </main>

    <footer>
      <p>&copy; 2023 My E-commerce Store</p>
    </footer>

    <script src="/js/script.js"></script>
  </body>
</html>
